@using Black_Jack.Enteties.Enums
@model Black_Jack.ViewModels.PlayerViewModel

<div class="card">
    <table class="table">
        <tr>
            <th>@Model.Name</th>
        </tr>
        <tr>
            <td>Cards</td>
        </tr>
        <tr>
            <td>
                @foreach (var card in Model.Hand)
            {
                    <div>
                        &nbsp;&nbsp;@card.Name
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                Card values:
                @{
                    if (Model.CardValueLow == Model.CardValueHigh)
                    {
                        <span>@Model.CardValueLow</span>
                    }
                    else
                    {
                        <span>@($"{Model.CardValueLow} / {Model.CardValueHigh}")</span>
                    }
                }
            </td>
        </tr>
        @*<tr>
            <td>
                Is busted: @Model.IsBusted
            </td>
        </tr>*@
        <tr>
            <td>
                <hr />
                @{
                    if (Model.GameStatus != PlayerGameStatus.None)
                    {
                        <h2>@Model.GameStatus.DisplayName()</h2>
                    }
                    else if (!Model.IsBusted && !Model.HasStopped && !Model.HasBlackJack)
                    {
                        <button class="btn btn-default" type="button" id="btnPlayerCard" data-player-id="@Model.Id">Kort!</button>
                        <button class="btn btn-default" type="button" id="btnPlayerStop" data-player-id="@Model.Id">Stopp</button>
                    }
                    else if (Model.HasBlackJack)
                    {
                        <h2>Black Jack!</h2>
                    }
                    else if (Model.IsBusted)
                    {
                        <h2>Busted!</h2>
                    }
                }
            </td>
        </tr>
    </table>
</div>