@using Black_Jack.Controllers
@using Black_Jack.Enteties

@model Black_Jack.ViewModels.GameViewModel

@{
    ViewBag.Title = "The Game";
}

<div class="container">
    <div class="row">
        <h3>The Dealer</h3>
        <div class="col-sm-3" id="@Model.Dealer.Name">
            @Html.Partial("_Dealer", Model.Dealer)
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <h3>The Players</h3>
        @foreach (var player in Model.Players)
        {
            <div class="col-sm-3" id="@("Player" + player.Id)">
                @Html.Partial("_Player", player)
            </div>
        }
    </div>
</div>
@section scripts
{
    <script>
        var BlackJack = function () {
            $(document).on("click", "#btnDealerCard", function () {
                var url = "@Url.RouteUrl(new { Controller = nameof(HomeController).Replace("Controller", ""), Action = nameof(HomeController.DealCardDealer) })";

                $.ajax({
                    url: url,
                    cache: false,
                    dataType: "html",
                    success: function(data) {
                        $("#Dealer").html(data);
                    }
                });
            });
            
            $(document).on("click", "#btnPlayerCard", function () {
                var playerId = $(this).attr("data-player-id");
                var url = "@Url.RouteUrl(new { Controller = nameof(HomeController).Replace("Controller", ""), Action = nameof(HomeController.DealCardPlayer) })";

                $.ajax({
                    url: url,
                    cache: false,
                    data:{id: playerId},
                    dataType: "html",
                    success: function(data) {
                        $("#Player" + playerId).html(data);
                    }
                });
            });

            $(document).on("click", "#btnPlayerStop", function () {
                var playerId = $(this).attr("data-player-id");
                var url = "@Url.RouteUrl(new { Controller = nameof(HomeController).Replace("Controller", ""), Action = nameof(HomeController.PlayerStop) })";

                $.ajax({
                    url: url,
                    cache: false,
                    data:{id: playerId},
                    dataType: "html",
                    success: function(data) {
                        $("#Player" + playerId).html(data);
                    }
                });
            });

        }();
    </script>
}
